<!DOCTYPE html>
<head>
    

    
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>


<body>



<ul class="navbar_main">
    
<div class="navbar_left">

    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'photography' %}">Photography</a></li>
    <li><a href="{% url 'skills' %}">Skills</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>

</div>

<div class="navbar_right">

<h1 class="navbar_right_title">A.Robson</h1>

</div>

</ul>

<div class="mirror_div"> 

    <img class='mirror' src="../static/Images/Alex mirror.jpg" alt="Picture of me in mirror">
    
    <div class="About_me">
        
       <p class="text1">Hello, I am Alex Robson. This is my personal portfolio. I embarked on my web development journey approximately a year ago. While employed at Amazon, 
            I discovered their career choice options for IT. I have always had a passion for IT and a keen interest in website creation. Additionally, I aspire to work in the video game industry in the future. 
            This portfolio serves as a showcase of some of my interests and skills.</p>
      
            
    </div>
    
    

</div>

<div class="subtitle_div">


    <h1 class="images_subtitle">This is a showcase of some of my photography work.</h1>



</div>
<div class="top_images">

    <img class='dusty_road' src="../static/Images/Dusty road.jpg" alt="Picture of a dusty road">
    <img class='pylon' src="../static/Images/pylon2.jpg" alt="Picture of a Pylon">
    <img class='table' src="../static/Images/Table.jpg" alt="Picture of a table">
   

</div>


<div class="bottom_images">
        
        <img class='dark_road' src="../static/Images/Dark road.jpg" alt="Picture of a dark road"> 
        <img class='traffic_rain' src="../static/Images/Traffic lights street.jpg" alt="Picture of traffic lights reflecting on a wet road">
        <img class='garden' src="../static/Images/Garden fog.jpg" alt="Picture of a foggy garden">
        
    
</div>
    



<div class="skills_intro">
    
     <h1 class="skills_title">These are the languages ive learnt on my journey so far.</h1>

</div>



<div class="skills">

<img class="html" src="../static/Images/html logo final.png" alt="Html5 logo">
<img class="css" src="../static/Images/css logo final.webp" alt="Html5 logo">
<img class="javascript" src="../static/Images/js logo.webp" alt="Html5 logo">
<img class="python" src="../static/Images/python logo.webp" alt="Html5 logo">

</div>





<div class="bottom_navbar">

<div class="social_media_icons">

    <i class="fa-brands fa-twitter"></i>  
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>

</div>

    <h2 class="email">Email: Alexjaker@aol.com</h2>

</div>

</body>

